.review {
	display: grid;
	grid-template-columns: [start] auto 1fr auto auto [end];
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 24px;
}

.reviewAdmin {
	display: grid;
	grid-template-columns: [start] auto 1fr auto auto [delstart] auto [end];
	align-items: center;
	gap: 10px;
	font-size: 14px;
	line-height: 24px;
}

.description {
	grid-column: start / end;
	text-align: justify;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.date {
	margin-right: 10px;
}

.name {
	font-weight: bold;
}

.heart {
	grid-column: delstart / end;
}

@media screen and (max-width: 860px) {
	.review {
		grid-template-columns: [start] 30px [titlestart] auto [dateend] 1fr [end];
	}

	.title {
		grid-column: titlestart / end;
	}

	.date {
		grid-column: start / dateend;
	}
}

@media screen and (max-width: 400px) {
	.date {
		grid-column: start / end;
	}

	.rating {
		grid-column: start / end;
	}

	.heart {
		grid-column: start / end;
	}
}
